In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from keras.layers import *
from keras.models import *
from keras.utils import *
from sklearn.preprocessing import *

2023-03-01 16:48:52.784711: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2023-03-01 16:48:52.784738: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2023-03-01 16:48:52.817761: E tensorflow/stream_executor/cuda/cuda_blas.cc:2981] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2023-03-01 16:48:53.559960: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2023-03-01 16:48:53.560086: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2023-03-01 16:48:53.560105: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [3]:
label = ['feat_{}'.format(i) for i in range(73)]

df = pd.read_csv('eighthr.data', names=label)
df.head()

,feat_0,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_63,feat_64,feat_65,feat_66,feat_67,feat_68,feat_69,feat_70,feat_71,feat_72
1/1/1998,0.8,1.8,2.4,2.1,2,2.1,1.5,1.7,1.9,2.3,...,0.15,10.67,-1.56,5795,-12.1,17.9,10330,-55,0,0.0
1/2/1998,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,3.4,...,0.48,8.39,3.84,5805,14.05,29,10275,-55,0,0.0
1/3/1998,2.9,2.8,2.6,2.1,2.2,2.5,2.5,2.7,2.2,2.5,...,0.6,6.94,9.8,5790,17.9,41.3,10235,-40,0,0.0
1/4/1998,4.7,3.8,3.7,3.8,2.9,3.1,2.8,2.5,2.4,3.1,...,0.49,8.73,10.54,5775,31.15,51.7,10195,-40,2.08,0.0
1/5/1998,2.6,2.1,1.6,1.4,0.9,1.5,1.2,1.4,1.3,1.4,...,?,?,?,?,?,?,?,?,0.58,0.0

In [11]:
# df.dtypes
df = df.apply(pd.to_numeric, errors='coerce') # error 값은 nan으로 표시
# df.head()

# nan drop
df.dropna(inplace=True)
# df

In [16]:
df.describe()
y = df['feat_72']
y = to_categorical(y)
y

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]], dtype=float32)

In [17]:
df.drop(['feat_72'], axis=1, inplace=True)
# df

,feat_0,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_62,feat_63,feat_64,feat_65,feat_66,feat_67,feat_68,feat_69,feat_70,feat_71
1/1/1998,0.8,1.8,2.4,2.1,2.0,2.1,1.5,1.7,1.9,2.3,...,-15.5,0.15,10.67,-1.56,5795.0,-12.10,17.90,10330.0,-55.0,0.00
1/2/1998,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,3.4,...,-14.5,0.48,8.39,3.84,5805.0,14.05,29.00,10275.0,-55.0,0.00
1/3/1998,2.9,2.8,2.6,2.1,2.2,2.5,2.5,2.7,2.2,2.5,...,-15.9,0.60,6.94,9.80,5790.0,17.90,41.30,10235.0,-40.0,0.00
1/4/1998,4.7,3.8,3.7,3.8,2.9,3.1,2.8,2.5,2.4,3.1,...,-16.8,0.49,8.73,10.54,5775.0,31.15,51.70,10195.0,-40.0,2.08
1/7/1998,3.7,3.2,3.8,5.1,6.0,7.0,6.3,6.4,6.3,5.4,...,-11.8,0.84,6.86,25.60,5695.0,26.75,48.45,10040.0,-80.0,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12/27/2004,0.3,0.4,0.5,0.5,0.2,0.3,0.4,0.4,1.3,2.2,...,-12.4,0.07,7.93,-4.41,5800.0,-25.60,21.80,10295.0,65.0,0.00
12/28/2004,1.0,1.4,1.1,1.7,1.5,1.7,1.8,1.5,2.1,2.4,...,-12.0,0.04,5.95,-1.14,5845.0,-19.40,19.10,10310.0,15.0,0.00
12/29/2004,0.8,0.8,1.2,0.9,0.4,0.6,0.8,1.1,1.5,1.5,...,-11.8,0.06,7.80,-0.64,5845.0,-9.60,35.20,10275.0,-35.0,0.00
12/30/2004,1.3,0.9,1.5,1.2,1.6,1.8,1.1,1.0,1.9,2.0,...,-10.8,0.25,7.72,-0.89,5845.0,-19.60,34.20,10245.0,-30.0,0.05
12/31/2004,1.5,1.3,1.8,1.4,1.2,1.7,1.6,1.4,1.6,3.0,...,-11.9,0.54,13.07,9.15,5820.0,1.95,39.35,10220.0,-25.0,0.00

In [18]:
X_train = np.asarray(df[:-100].values.tolist(), dtype=np.float64)
X_test = np.asarray(df[-100:].values.tolist(), dtype=np.float64)
y_train = y[:-100]
y_test = y[-100:]

In [25]:
X_train.shape # (1747, 72)
# timestamp를 10으로 하려면 1747이 10으로 나눠 떨어져야 오류가 발생하지 않음!
X_train = X_train[:1700]
y_train = y_train[:1700]
X_train.shape # (1700, 72)

# (sample, timestamp, feature)
X_train = X_train.reshape(-1, 10, 72)
X_train.shape # (170, 10, 72)
y_train = y_train.reshape(-1, 10, 2)
y_train.shape # (170, 10, 2)

(170, 10, 2)

In [27]:
model = Sequential()
model.add(LSTM(128, input_shape=(10, 72), return_sequences=True))
model.add(LSTM(256, return_sequences=True))
# model.add(LSTM(256)) => 이렇게 하면 many to one이 되어 버림!

model.add(Dense(2, activation='softmax'))

model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 10, 128)           102912

 lstm_1 (LSTM)               (None, 10, 256)           394240

 dense (Dense)               (None, 10, 2)             514

=================================================================
Total params: 497,666
Trainable params: 497,666
Non-trainable params: 0
_________________________________________________________________

In [30]:

model.fit(X_train, y_train, epochs=10, batch_size=1, validation_split=0.1)

Epoch 1/10
153/153 [==============================] - 2s 15ms/step - loss: 0.2831 - accuracy: 0.9196 - val_loss: 0.1034 - val_accuracy: 1.0000
Epoch 2/10
153/153 [==============================] - 2s 15ms/step - loss: 0.2839 - accuracy: 0.9196 - val_loss: 0.0831 - val_accuracy: 1.0000
Epoch 3/10
153/153 [==============================] - 2s 15ms/step - loss: 0.2830 - accuracy: 0.9196 - val_loss: 0.0745 - val_accuracy: 1.0000
Epoch 4/10
153/153 [==============================] - 2s 15ms/step - loss: 0.2824 - accuracy: 0.9196 - val_loss: 0.0686 - val_accuracy: 1.0000
Epoch 5/10
153/153 [==============================] - 2s 15ms/step - loss: 0.2848 - accuracy: 0.9196 - val_loss: 0.0718 - val_accuracy: 1.0000
Epoch 6/10
153/153 [==============================] - 2s 15ms/step - loss: 0.2825 - accuracy: 0.9196 - val_loss: 0.0829 - val_accuracy: 1.0000
Epoch 7/10
153/153 [==============================] - 2s 15ms/step - loss: 0.2819 - accuracy: 0.9196 - val_loss: 0.1056 - val_accuracy: 1.0000
Epoch 8/10
153/153 [==============================] - 2s 16ms/step - loss: 0.2806 - accuracy: 0.9196 - val_loss: 0.0987 - val_accuracy: 1.0000
Epoch 9/10
153/153 [==============================] - 2s 15ms/step - loss: 0.2803 - accuracy: 0.9196 - val_loss: 0.1037 - val_accuracy: 1.0000
Epoch 10/10
153/153 [==============================] - 2s 15ms/step - loss: 0.2825 - accuracy: 0.9196 - val_loss: 0.0778 - val_accuracy: 1.0000

In [32]:
X_test = X_test.reshape(-1, 10, 72)
y_test = y_test.reshape(-1, 10, 2)

score = model.evaluate(X_test, y_test)
print(score)

1/1 [==============================] - 1s 543ms/step - loss: 0.1272 - accuracy: 0.9800
[0.12719076871871948, 0.9800000190734863]